{% extends 'topics/base.html' %}
{% load static %}
{% load topics_template_tags %}

{% block title_block %}
	{{ subtopic.name }} - {{ subtopic.topic.name }}
{% endblock %}

{% block sidebar_block %}
{% get_subtopic_list subtopic %}
{% endblock %}

{% block body_block %}
	{% if subtopic %}
		<h1 id="subtopic-title" data-subtopic="{{ subtopic.name }}">{{ subtopic.name }}</h1>
		<video width="320" height="240" controls>
		  <source src="{% static VIDEO_LINK|safe %}" type="video/mp4">
		Your browser does not support the video tag.
		</video>
	{% else %}
		Subtopic by that name not found
	{% endif %}
	
	{% comment %}{% get_quiz subtopic %}{% endcomment %}
	<!--- Insert Quiz --->
	<div class="container">
		<div class="panel panel-default col-xs-offset-1 col-xs-6">
			<div class="panel-body">
				<div class="row">
					<h2>Quick Quiz</h2>
				</div>
				<div id="question_title" class="row">
				</div>
				<div id="question_text" class="row text-center">
				</div>
				<div class="row">
					<div id="answer_box" class="col-xs-offset-4 col-xs-4 vcenter">
						<label for="answer">Answer:</label>
						<input class="form-control" id="answer" type="text">
					</div>
				</div>
				<div class="row">
					<div id="question_number" class="col-xs-5 vcenter">
					</div>
					<!--
					-->
					<div class="col-xs-offset-4 col-xs-3 vcenter">
						<button id="next_question" class="btn btn-primary">Next Question</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
		{{ block.super }}
		<script src="{% static 'quiz/js/js.cookie.js' %}"></script>
		<script src="{% static 'quiz/js/quiz-ajax.js' %}"></script>
		<script src="{% static 'quiz/js/quiz-jquery.js' %}"></script>
		<script src="{% static 'quiz/js/quiz-questions.js' %}"></script>
{% endblock %}
