{% extends 'topics/base.html' %}
{% load static %}
{% load topics_template_tags %}

{% block title_block %}
	{% if subtopic %}
		{% if subtopic.is_quiz %}
			{{ subtopic.topic.name }} - Topic Quiz
		{% else %}
			{{ subtopic.name }} - {{ subtopic.topic.name }}
		{% endif %}
	{% endif %}
{% endblock %}

{% block sidebar_block %}
{% get_subtopic_list subtopic %}
{% endblock %}

{% block body_block %}
	{% if subtopic %}
		<h1 id="subtopic-title" data-subtopic="{{ subtopic.name }}" data-topicQuiz="{{ subtopic.is_quiz }}" data-realWorld="{{ subtopic.is_real }}">{{ subtopic.name }}</h1>
		{% if not subtopic.is_quiz %}
			<video width="320" height="240" controls>
				<source src="{% static VIDEO_LINK|safe %}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		{% endif %}
	{% else %}
		Subtopic by that name not found
	{% endif %}
	
	{% comment %}{% get_quiz subtopic %}{% endcomment %}
	<!--- Insert Quiz --->
	<div class="container">
		<div class="panel panel-default col-xs-offset-1 col-xs-6">
			<div class="panel-body">
				<div class="row">
					{% if subtopic.is_quiz %}
						<h2>Topic Quiz</h2>
					{% else %}
						<h2>Quick Quiz</h2>
					{% endif %}
				</div>
				<div id="level-text" class="row">
				</div>
				<div id="question_title" class="row">
				</div>
				<div id="question-text" class="row text-center">
				</div>
				<div class="row">
					<div id="answer-box" class="col-xs-offset-4 col-xs-4 vcenter">
					</div>
				</div>
				<div class="row">
					<div id="out-of" class="col-xs-5 vcenter">
					</div>
					<!--
					-->
					<div id="button" class="col-xs-offset-4 col-xs-3 vcenter">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	{{ block.super }}
	<script src="{% static 'quiz/js/js.cookie.js' %}"></script>
	<script src="{% static 'quiz/js/quiz-ajax.js' %}"></script>
	<script src="{% static 'quiz/js/quiz-jquery.js' %}"></script>
	<script src="{% static 'quiz/js/quiz-questions.js' %}"></script>
{% endblock %}
